.user-card{
    height: 300px;
    width: 250px;
    margin: 10px;
    border: 1px lightgray solid;
    border-radius: 6px;
    padding: 10px;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

img{
    width:70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}