*{
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 40px;
    font-style: italic;
}
.user-card-container{
    width: 50%;
    min-height: 400px;
    display: flex;
    flex-flow: row wrap;
}
.load-button{
    width: 200px;
    height: 40px;
    margin: 20px auto;
    border: none;
    border-radius: 6px;
    background-color: purple;
    color:white;
    font-size: 18px;
}