* {
    box-sizing: border-box;
}

.wall-container {
    background-color: grey;
    width: 100%;
    min-height: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
  }

.add-button{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: auto;
    height: auto;
    border:none;
    background-color: purple;
    color: white;
}